{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}
        My-Site
        {% endblock %}
    </title>

    {% block css_files %}
    {% endblock css_files %}
</head>
<body>
    <center>
        <h1>
            <a href="{% url "blog-start-page" %}">My-Blog</a>
            <break>
            <a href="{% url "book-store-start-page" %}">Book-Store</a>
            <break>
                <a href="{% url "reviews-start-page" %}">Reviews</a>
        </h1>
    </center>
    {% block content %}
    {% endblock content %}

</body>
</html>